nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 5px 35px 5px 35px ;
    height: 80px;
}
.nav-links{
    display: flex;
    gap: 100px;
    align-items: center;
}
.link{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 32px;
}